[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg = "*"
spleeter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
hmmlearn = "*"
simplejson = "*"
eyed3 = "*"
pydub = "*"
tqdm = "*"
plotly = "*"
jupyter = "*"
moviepy = "*"
pyaudioanalysis = "*"

[dev-packages]

[requires]
python_version = "3.8"
